DirectoryIndex _rooters/index.php

RewriteEngine On

RewriteCond %{HTTPS} off

RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^([a-zA-Z0-9_\-]*)?/?$ _rooters/index.php?page=$1&%{QUERY_STRING}